/* input .ng-valid{

    border: 2px solid rgb(54, 236, 54)

}
.ng-invalid {

    border: 2px solid red !important

} */
.mat-mdc-card-content {
	padding: 0 16px;
	display: flex;
	justify-content: center;
}
.mat-mdc-form-field {
	width: 80%;
    
}
#date{
	margin-bottom: 10px !important;
}
#color {
	width: 30%;

}

.btn{
	width: 100%;
	display: flex;
	justify-content: center;
}
mat-card.mat-mdc-card{
	display: flex;
	justify-content: center;	
}