<h1>Validaciones Personalizadas Trabajando...</h1>

<form [formGroup]="form">
    <mat-card class="contenedorCard">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <div *ngIf="ispasswordFieldinValid">
                <mat-error *ngIf="ispasswordFieldError">Debe contener un número</mat-error>
            </div>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Confirmar su password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
            <div *ngIf="touchedConfirmPasswd">
                <mat-error *ngIf="erroConfirmPasswd">Los password deben coincidir</mat-error>
            </div>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <div class="row">
            <mat-radio-group formControlName="type" aria-label="Seleciona una opción">
                <mat-radio-button value="company">Company</mat-radio-button>
                <mat-radio-button value="costumer">Costumer</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="row" *ngIf="form.controls['type'].value === 'company'">
            <mat-form-field appearance="fill">
                <mat-label>Company Name</mat-label>
                <input matInput formControlName="companyName" type="text">
            </mat-form-field>
        </div>
    </mat-card>
</form>
<mat-card>
    <div class="btn" >
        <button mat-flat-button color="primary">Enviar</button>
    </div>
</mat-card>